<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fromPerson</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div class="p-3">
        <a href="{{path('home')}}" class="btn btn-primary" > <- home</a>
    </div>
    <form method="post" class="p-3 col-md-3 center" >
        <div class="mb-3">
            <label class="form-label" for="name">name</label>
            <input class="form-control" id="name" name="name" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="age">age</label>
            <input class="form-control" id="age" name="age" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="personality">personality</label>
            <input  class="form-control" id="personality" name="personality" type="text">
        </div>

        <button class="btn btn-success">send</button>
        
    </form>
  
    

</body>

</html>