<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
   
</head>
<body>
    <form action="" method="post">
        <label for="name">Nom</label>
        <input id="name" name="name" type="text">

        <button>send</button>
    </form>

    <h1>{{view}}</h1>
    <ul>{% for item in list %}
        {{item}}
    {% endfor %}</ul>
</body>
</html>
