<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{person.name}}</title>
</head>
<body>
    <div class="p-3">
        <a href="{{path('home')}}" class="btn btn-primary" > <- home</a>
    </div>
    <h1>{{person.name}}</h1>
    <p>{{person.age}}</p>
    <p>{{person.persinality}}</p>


</body>
</html>