<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{% if random<20 %}
        {{random}}
    {% else %}
        big number !!
    {% endif %}
</h1>
<ul>{% for string in table %}
    <li>{{string}}</li>
{% endfor %}</ul>
    
   
    
</body>
</html>